<nav class="navbar navbar-expand-lg navbar-light" style="background:linear-gradient(-90deg, #FF0000, #0000FF, #FF0000);">
  <!-- <a class="navbar-brand" href="/">Pitch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="color:white;padding:20px;font-size:28px" >
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown" style="color:white;padding:20px;font-size:28px">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pitch/business">Business </a>
          <a class="dropdown-item" href="/pitch/pick-up">Pick-up</a>
          <a class="dropdown-item" href="/pitch/interview">interview</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
     <ul class="nav navbar-nav navbar-right" style="color:white;padding:20px;font-size:28px">
          {% if current_user.is_authenticated %}
          <li >{{current_user.username}}</li>
          <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
          {% else %}
          <li >
            <a href="{{url_for('auth.login')}}"> <i class="glyphicon glyphicon-user"></i>Sign in</a></li>
          {%endif%}
     </ul>
  </div>
</nav>
