
{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/root.css')}}">
{% endblock %}

{% block content %}

<div class="">
  <a class="btn btn-success btn-md" href="/new-pitch">Write Pitch</a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
  <div class="card-deck">
    <a class="card root"  href="/pitch/business">
      <img class="card-img-top" src="/static/images/business.jpg" alt="business" id="img" style="width:400px;height:500px;">
      <div class="card-body">
        <h5>Busines Pitches</h5>
      </div>
    </a></div></div>
    <div class="col-md-4">
    <a class="card root"  href="/pitch/pick-up">
      <img class="card-img-top" src="/static/images/pick-up.png" alt="pick-up" style="width:400px;height:500px;">
      <div class="card-body">
        <h5>Pick-up lines</h5>
      </div>
    </a>
  </div> <div class="col-md-4">
    <a class="card root"  href="/pitch/interview">
      <img class="card-img-top" src="/static/images/interview.png" alt="interview" style="width:400px;height:500px;">
      <div class="card-body">
        <h5>Job-interview Pitches</h5>
      </div>
    </a></div>
  </div>
</div>
<div style="padding:20px;"></div>
</div>



{% endblock %}
