<h1>my massage is {{message}} </h>


  <div class="">
    <a class="btn btn-success btn-md" href="/new-pitch">Write Pitch</a>
  </div>

  <div class="container-fluid">
    <div class="card-deck">
      <a class="card ttb"  href="/pitch/business">
        <img class="card-img-top" src="/static/images/business.jpg" alt="business">
        <div class="card-body">
          <h5>Busines Pitches</h5>
        </div>
      </a>

      <a class="card ttb"  href="/pitch/pick-up">
        <img class="card-img-top" src="/static/images/pick-up.png" alt="pick-up">
        <div class="card-body">
          <h5>Pick-up lines</h5>
        </div>
      </a>

      <a class="card ttb"  href="/pitch/interview">
        <img class="card-img-top" src="/static/images/interview.png" alt="interview">
        <div class="card-body">
          <h5>Job-interview Pitches</h5>
        </div>
      </a>
    </div>
  </div>
